<div class="mt-4">
    <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">{{this.statusCode}}</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> {{this.message}}</p>
                <p class="lead">
                    {{this.toDo}}
                  </p>
                <a href="{{this.url}}" class="btn btn-primary">{{this.action}}</a>
            </div>
        </div>
</div>